.message{
    display: flex;
    justify-content: center;
    .container{
        width: 1200px;
        margin: 50px;

        .breadcrumbs{
            font-weight: 300;
            font-size: 13px;
            color: #555;
        }
        .messages{
            display: flex;
            margin: 30px 0;
            padding: 50px;
            flex-direction: column;
            gap: 20px;
            height: 500px;
            overflow: scroll;

            .item{
                display: flex;
                align-items: center;
                gap: 20px;
                font-size: 18px;

                &.owner{
                    flex-direction: row-reverse;
                    align-self: flex-end;
                    p{
                        background-color: royalblue;
                        color: #fff;
                        max-width: 500px;
                        border-radius: 20px 0 20px 20px;
                    }
                }

                img{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                }
                p{
                    padding: 20px;
                    max-width: 600px;
                    border-radius: 0 20px 20px 20px;
                    background: rgb(244, 241, 241);
                    color: gray;
                }
            }
            hr{
                height: 0;
                border: 0.5px solid lightgray;
                margin-bottom: 20px;
            }
        }
    }
}